* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    z-index: 10;
    color: white;
    background-color: rgb(0, 0, 0);
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    font-weight: bold;
    letter-spacing: 2px;
}

.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), 
                url('../assets/photo-1441986300917-64674bd600d8.avif');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.glass-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 60px 40px;
    text-align: center;
    color: white;
    max-width: 500px;
}

.glass-card h1 {
    font-size: 3.5rem;
    margin-bottom: 15px;
}


.chat-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    color: white;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

/*Shop content - yung mga product na nakalagay sa new arrivals*/
.new-arrivals {
    padding: 40px;
}

.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
}

.product-box {
  position: relative;
  max-width: 300px;
  margin: auto;
}

.product-box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.product-box:hover {
  padding: 10px;
  transition: 0.4s;
}
/* Product name styling */
.product-name {
  color: #222;           /* dark gray text */
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.price {
  color: #000000;
  font-size: 1rem;
  font-weight: 600;
}

.product-box a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.product-box a:hover .product-name,
.product-box a:hover .price {
  color: #0077b6;
}
